.Container {
  background-color: #ebd5b3;
  height: 100%;
  width: 100%;
}

.Spellbook {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Spellbook-Header {
  text-align: center;
  display: block;
}